
<head>
    <link rel="stylesheet" href="style.css">
</head>
<!-- Wow, after some close inspection, there was a number after all. -->
<body>
    <div id="hiddenOffScreen"><%= randomNum %></div>

    <button onclick="location.href='/whiteroom'" id="middle-door">
<pre>
____
|   |
|  .|
|___|
</pre>
    </button>
</body>