<html>

<head>
  <title>Website Under Construction</title>
  <link rel="stylesheet" href="style.css" />
  <!-- linking style.css and main.js to here -->
</head>

<body style="background-color: rgb(219, 219, 219);">
  <div class="disguiseTitle">
    <p class="disguiseP">Website Under Construction</p>
  </div>
  <div class="centeringDiv">
    <div class="disguiseBorderBox leftColumn">
      </div>
      
    </div>
  
  <div class="disguiseBorderBox centerColumn">
    <div class="disguiseNewsPanel"></div>

    <div class="disguiseBorderBox rightColumn"></div>
  </div>
  </div>
  <a href="/homepage" style="color: rgb(219, 219, 219);">imagine...</a>
</body>

</html>