<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="center-align">
    <h2>Falling...</h2>
    <p>down...</p>
    <pre>
|                               |
|                               |
|                               |
|                               |
|                               |
|                               |
|                               |
|                               |
|                               /
 \                             /
  \                           /
   |                         /
   |                        /
   |                       /
   |                      /
   |                     |
   |                     |
   |                     |
   \                     |
    \                    |
     \                   |
      \                   \
       \                   \
        \                   \ 
        |                    \ 
        |                     \
        |                      \
        |                       |
        |                        
        |                       |
        |                       |
        |                       |
        |                      /
                              / 
        |                    /
        |                   /
        |                  /
                          /

        |               /

                        |

            |        /
                


             \


                /



           |

                   |



             |

                /
                


             \


                /

        |











                |
    </pre>
    
    <button onclick="location.href='/whiteroom'">AHHHHHHHHHHHHHHHHHHHHH!!!!!!!!!</button>
    </div>
</body>