<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Awake</h2>
    <p>and....</p>
    
    <button onclick="location.href='/whiteroom'">eyes closing...</button>
</body>